<div class="jumbotron">
	<h1>Welcome to Sportsters Athletics</h1>
	<p class="tagline">Practice, practice, practice...do your best!!!</p>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <h2>Why we exist</h2>

<h5>Training Champions for Christ</h5>

<p>Train a child in the way he should go and when he is old he will not turn from it.</p>
<p>--Proverbs 22:6</p>

<p>We believe 'Sports Shapes Character.'  By providing multiple opportunities for involvement in a sports program focused on character, we aim to train--Champions for Christ.</p>

<hr>

<p>But as for you, continue in what you have learned and have become convinced of, because you know those from whom you learned it, and how from infancy you have known the holy Scriptures, which are able to make you wise for salvation through faith in Christ Jesus.</p>
<p>--2 Timothy 3:14-15</p>

<p>This message will serve as the send-off to Sportster Graduates, who in-turn, will hold true to what they've learned and experienced through the efforts of the entire 'Sportster Family'.</p>

    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <h2>Coaching</h2>
<h5>The Sportster Athletics Coaching Program</h5>
<p>Learning through sports is so much fun! And the better the coaching--the funner sports becomes!</p>

<p>Our Coaching Program is run by our parents and has been developed to instruct the very best fundamentals within each sport, and more importantly--gives your child guidance when developing their leadership, teamwork and sportsmanship values.</p>

<p>Largely based on legendary Coach John Wooden's Pyramid of Success, Sportster Coaches integrate and apply the 16 Sportster Rules into team meetings, practices and games.</p>

<p>Values We Teach--Hard Work, Enthusiasm, Friendship, Family, Loyalty, Cooperation, Self-Control, Alertness, Action, Determination, Fitness, Skill, Team Spirit, Poise, Confidence and Personal Best.</p>
    </div>
  </div>
  </div>
</div>