/*body {
	background: url(https://cache.nebula.phx3.secureserver.net/obj/QjM3NEI3MkUwNTI5QUNEMjY4OEE6ZmVmNDY3MTlkZTE0YWRkODk5NzNiZTkwM2Y0YzM2ZDg=);
	background-size: cover;
}*/

.logo-text {
	margin: 16px 0 0 40px;
}

.topnav {
	float: right;
	margin-top: 13px;
}

#footer {
	background-color: #EEE;
	padding: 14px;
	font-size: 12px;
}
.page-header {
	background-color: #EEE;
	padding: 5px;
}
.thumbnail, .jumbotron {
	opacity:0.8;
}
input[type=text], input[type=password]{
	width: 250px;
}